{% extends "base.html" %}

{% block content %}

<button onclick="history.back()" class="btn btn-outline-dark mb-3">
    ← Go Back
</button>

<div class="card p-4 shadow mx-auto" style="max-width:500px;">

    <h3 class="text-center mb-3">Edit Profile</h3>

    <form method="POST">

        <label><strong>Name</strong></label>
        <input class="form-control mb-2" type="text" name="name"
            value="{{ user.name }}" required>

        <label><strong>Email</strong></label>
        <input class="form-control mb-2" type="email" name="email"
            value="{{ user.email }}" required>

        <label><strong>Age</strong></label>
        <input class="form-control mb-2" type="number" name="age"
            value="{{ user.age }}" required>

        <label><strong>Gender</strong></label>
        <select class="form-control mb-2" name="gender" required>
            <option value="Male" {% if user.gender == "Male" %}selected{% endif %}>Male</option>
            <option value="Female" {% if user.gender == "Female" %}selected{% endif %}>Female</option>
        </select>

        <button class="btn btn-primary w-100">Update Profile</button>

    </form>

</div>

{% endblock %}